
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(109, 108, 108);
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
  }

* {
    padding: 0PX;
    margin:  0PX;

}

/* https://data.nasa.gov/resource/b67r-rgxc.json */